header {
  background-color: #222222;
  color: #fff;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 40px;
}

.center-links {
  flex-grow: 1;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem; 
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.settings a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.settings a:hover {
  text-decoration: underline;
}


