<header>
  <div class="header-content">
    <div class="logo">
      <a>Roger's Library</a>
    </div>
    
    <nav class="center-links">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/add-book">Add Book</a></li>
        <li><a routerLink="/book-list">Book List</a></li>
        <li><a routerLink="/search-book">Search Book</a></li>
      </ul>
    </nav>

    <div class="settings">
      <a routerLink="/settings">Settings</a>
    </div>
  </div>
</header>
