.search-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4.7rem;
  }
  
  .search-input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .search-results h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .book-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .book-item img {
    width: 100px;
    margin-right: 20px;
  }
  
  .book-item p {
    margin: 0;
  }
  
  .book-title {
    font-weight: bold;
  }
  
  .book-description {
    color: #555;
  }
  
  @media (max-width: 768px) {
    .search-input {
      width: 60%;
    }
  }
  