<div class="add-book-container">
  <h2>Add Book</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="bookName">Book Name:</label>
      <input type="text" class="form-control" id="bookName" name="bookName" [(ngModel)]="book.name" required>
    </div>
    <div class="form-group">
      <label for="bookAuthor">Author:</label>
      <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" [(ngModel)]="book.author" required>
    </div>
    <div class="form-group">
      <label for="bookTags">Tags:</label>
      <input type="text" class="form-control" id="bookTags" name="bookTags" [(ngModel)]="book.tags">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="book.quantity">
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" class="form-control-file" id="image" name="image" accept="image/*" (change)="onImageChange($event)">
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>
</div>
